@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  margin: 0rem;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  color: #fff;
  background-color: #29bde0;
  border-bottom: 1px solid;
  z-index: 999;
}
.header img {
  height: 3rem;
}
.hidden {
  visibility: hidden;
}
.main-warp {
  position: fixed;
  top: 10.5rem;
  bottom: 14.5rem;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
.main-warp .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-warp .main .people {
  text-align: center;
  border: 0.3rem solid white;
}
.main-warp .main .people .vocation {
  font-size: 2.5rem;
  padding: 3rem 3.5rem;
  background-color: #f5c97b;
}
.main-warp .main .people .number {
  padding: 1rem;
  color: #fff;
  background-color: #83b09a;
}
.main-warp .main .hover {
  visibility: hidden;
  text-align: center;
}
.main-warp .main .hover img {
  height: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.circle-blue {
  height: 1rem;
  width: 1rem;
  background-color: #29bde0;
  border-radius: 50%;
}
.footer {
  position: fixed;
  bottom: 0;
  margin: 10vw 10vw;
  width: calc(100% - 20vw);
  background-color: #fca000;
  border: none;
}
.footer span {
  display: inline-block;
  padding: 1rem;
  height: 4rem;
  font-size: 2.5rem;
  color: #fff;
}
.footerB {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #99dff0;
  border: none;
}
.footerB button {
  width: 15rem;
  padding: 1.5rem 1rem;
  margin: 1.5rem 2.5rem;
  background-color: #fca000;
  border: none;
  border-radius: 1rem;
}
.footerB button span {
  font-size: 2.5rem;
  color: #fff;
}
.dark {
  background-color: #999999!important;
}
.darkLeft {
  border: 2.5rem solid transparent;
  border-right: 2.5rem solid #999999!important;
}
