body {
  background-color: #29bde0;
}
.main-warp {
  top: 15rem;
}
.people:hover + .hover {
  visibility: visible;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem;
  align-items: center;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 15rem;
}
.nav span {
  line-height: 4rem;
  font-size: 1.4rem;
}
.tips {
  padding: 2rem;
  padding-left: 5rem;
  font-size: 1.4rem;
  color: #fff;
}
