@import "_global";

body {
    background: #f7f7f7;
}
/*页眉*/
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #64cfe9 solid;
    height: .40rem;
    width: 100%;
    color: #ffffff;
    font-size: .17rem;
    background: #29bde0;
    z-index: 9999;
}
/* 内容主体 */
main{
    margin-top: .45rem;
    margin-bottom: .65rem;
    >p{
        @extend .content;
        line-height: .40rem;
        text-align: center;
        font-weight: bold;
        color: #29bde0;
    }
}
.content{
    position: relative;
    border: 1px #e3e3e3 solid;
    margin: .05rem;
    background: #ffffff;
}

.talk{
    margin-left: .50rem;
    padding: .12rem .24rem;
    border-left: 1px #e3e3e3 solid;
}
//法官台本文字说明
.taiben{
    position: relative;
    margin: .10rem 0;
    line-height: .36rem;
    text-align: center;
    color: #ffffff;
    background: #29bde0;
}
//白天黑夜图标
.icon{
    position: absolute;
    left: -.55rem;
    top: -.11rem;
    background: #ffffff;
}
//小三角形(左)
.trans {
    display: inline-block;
    position: absolute;
    left: -.07rem;
    top: .11rem;
    width: 0;
    height: 0;
    border-top: .07rem solid transparent;
    border-bottom: .07rem solid transparent;
    border-right: .07rem solid #29bde0;
}
//小三角形(上)
.thisday {
    display: inline-block;
    position: absolute;
    left: calc(50% - .07rem);
    top: -.07rem;
    width: 0;
    height: 0;
    border-bottom: .07rem solid #ffffff;
    border-right: .07rem solid transparent;
    border-left: .07rem solid transparent;
}
//jQuery添加的类
.talkp {background: #999999; }
.talka {border-right: .07rem solid #999999; }
/* 页脚 */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .65rem;
    width: 100%;
    background: rgba(41,189,224,.5);
    >button {
        height: .40rem;
        width: 40%;
        color: #ffffff;
        border-radius: .06rem;
        background: #fbb435;
    }
}
