<div class="dashboard" ng-controller="AccordionCtrl">
  <!-- 头部导航栏 -->
  <header>
    <h3>萝卜多后台</h3>
    <div>
      <a>管理员</a>
      <a>admin</a>
      <a ><span ng-click="logout()" class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
    </div>
  </header>
  <!-- 风琴菜单 -->
  <uib-accordion close-others="false" class="board" >
    <div uib-accordion-group 
      ng-repeat="group in groups" 
      is-open="group.open"
      >
      <uib-accordion-heading >
        <span class="headText" ng-click="clickOpen($index)">{{group.title}}</span>
        <i class="pull-right glyphicon" ng-click="clickOpen($index)"
          ng-class="{'glyphicon-chevron-down'  :  group.open, 
                     'glyphicon-chevron-right' : !group.open}">
        </i>
      </uib-accordion-heading>
      <a class="sonItem f_csp"
         href=""
         ng-repeat="item in group.content" 
         ui-sref="{{item.url}}">
         {{item.list}}
      </a>
    </div>                
  </uib-accordion>
  
  <!-- 欢迎文字 -->
  <h1 style="text-align: left">welcome</h1>
  <!-- 列表项视口 -->
  <div ui-view=""></div>
</div> 