<div class="detail" ng-controller="detailctrl">
  <form class="form-inline" name="detailForm" novalidate>
		<div class="ttop">
			<span>{{editOrAdd}}</span>
		</div>
    <div class="form-group lain">
			<label for="exampleInputName2">标题名称</label>
			<input type="text" 
				name="titleName" 
				id="exampleInputName2"
				class="form-control"  
				ng-model="title" 
				size="60" 
				ng-blur="titleChange=true" 
				ng-focus="titleChange=false"
				required />
			<span class="error text-danger mg5" ng-show="detailForm.titleName.$error.required && titleChange">*标题不能为空</span>
		</div>
		<br>
		<div class="form-group lain">
      <label for="exampleInputEmail2">类型</label>
			<select name="typeName" 
				ng-options="value.id as value.label for value in types" 
				class="form-control"
				ng-model="type"
				required >
				<option value="">请选择</option>
			</select>
			<span class="error text-danger mg5" ng-show="type == null">*请选择类型</span>
		</div>
		<div class="form-group lain">
			<label for="exampleInputEmail2" ng-show="type==3">行业</label>
			<select name="industryName" 
				ng-show="type==3" 
				ng-options="value.id as value.label for value in industrys" 
				class="form-control" 
				ng-model="industry">
				<option value="">请选择</option>
			</select>
			<span class="error text-danger mg5" ng-show="industry==null&&type==3">*请选择行业</span>
		</div>
		<br>
		<!-- 富文本编辑器 -->
		<div class="form-group lain">
			<label for="exampleInputEmail2">说明</label>
    	<div id="div1" class="toolbar"></div>
			<div id="div2" class="bodytext">{{content}}</div>
		</div>
		<!-- 跳转链接 -->
		<div class="form-group lain">
				<!-- <input type="url" name="homepage" ng-model="user.facebook_url" /> -->
      <label for="exampleInputName2">跳转链接</label>
			<input type="url"
				id="exampleInputName2" 
				class="form-control" 
				name="urlName" 
				ng-model="link" 
				size="60"
				ng-blur="urlChange=true" 
				ng-focus="urlChange=false"
				required />
			<span class="error text-danger mg5" ng-show="detailForm.urlName.$error.required && urlChange">*地址不能为空</span>
			<span class="error text-danger mg5" ng-show="detailForm.urlName.$error.url && urlChange">*请输入正确的URL地址</span>
		</div>
		<br>
		<!-- 图片上传插件 -->
		<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
		<div class="form-group lain">
			<label for="exampleInputName2">配图</label>
			<button type="button" class="btn btn-info f-pr">选择文件
				<input type="file" 
					class="inputbtn"
					name="imgName"
					ng-if="uploader" 
					nv-file-select="" 
					uploader="uploader"
					required />
			</button><br><br>
			<img src="{{imgUrl}}" alt="" height="200px" ng-show="imgShow">
		</div>
			<!-- <div ng-messages="detailForm.name.$error">
				<p class="text-danger mg5" ng-message="required">*必填项</p>
			</div> -->
			<!-- <p class="error text-danger mg5" ng-show="detailForm.name.$error.required">*必填项</p> -->
		<table class="table">
			<thead>
				<tr>
					<th width="50%">图片名</th>
					<th ng-show="uploader.isHTML5">文件大小</th>
					<th ng-show="uploader.isHTML5">进度</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in uploader.queue">
					<td>
						<strong>{{ item.file.name }}</strong>
						<!-- Image preview -->
						<!--auto height-->
						<!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
						<!--auto width-->
						<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
						<!--fixed width and height -->
						<!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
					</td>
					<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
					<td ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</td>
					<td class="text-center">
						<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
						<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
						<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
					</td>
					<td nowrap>
						<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
							<span class="glyphicon glyphicon-upload"></span> 上传
						</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> 删除
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<br>
		<div style="padding: .20rem;">
			<button type="button" id="btn2" class="btn btn-success" ng-disabled="detailForm.$invalid" ng-show="editor1" ng-click="onLine()">立即上线</button>
			<button type="button" class="btn btn-success" ng-disabled="detailForm.$invalid" ng-show="editor2" ng-click="save()">存为草稿</button>
			<button type="button" class="btn btn-success" ng-disabled="detailForm.$invalid" ng-click="keeped()" ng-show="editor3">确认</button>
			<button type="button" style="float: right;" class="btn btn-default" ng-click="cancel()">取消</button>
		</div>
	</form>
</div>



