<div class="list" ng-controller="listctrl">
  <!-- 表头 -->
  <div class="title">
    <form class="form-inline">
      <div class="form-group lain">
        <label for="exampleInputName2">标题</label>
        <input type="text" class="form-control" id="exampleInputName2" ng-model="title">
      </div>
      <div class="form-group lain">
        <label for="exampleInputEmail2">创建者</label>
        <input type="text" class="form-control" id="exampleInputName2" ng-model="author">
      </div>
      <!-- 日期选择器 -->
      <div class="form-group lain">
        <label for="exampleInputEmail2">修改时间</label>
        <input type="text" 
          ng-click="open1()" 
          class="form-control" 
          ng-model="startAt"
          uib-datepicker-popup  
          is-open            = "popup1.opened" 
          datepicker-options = "dateOptions" 
          ng-required        = "true"
          clear-text         = "清空"
          current-text       = "今天"
          close-text         = "关闭"
          alt-input-formats  = "altInputFormats" />
      </div>
      ——
      <div class="form-group lain">
        <input type="text" 
          ng-click="open2()" 
          class="form-control" 
          ng-model="endAt" 
          uib-datepicker-popup  
          is-open              = "popup2.opened" 
          datepicker-options   = "dateOptions" 
          ng-required          = "true" 
          clear-text           = "清空"
          current-text         = "今天"
          close-text           = "关闭" />
      </div>
      <!-- 状态选择 -->
      <div class="form-group lain">
        <label for="exampleInputEmail2">状态</label>
        <select name="statusName"
          ng-options="value.id as value.label for value in statusAll" 
          class="form-control" 
          ng-model="status">
          <option value="">全部</option>
        </select>
      </div>
      <!-- 类型选择 -->
      <div class="form-group lain">
        <label for="exampleInputEmail2">类型</label>
        <select name="typeName"
          ng-options="value.id as value.label for value in typeAll" 
          class="form-control" 
          ng-model="type">
          <option value="">全部</option>
        </select>
      </div>
      <button type="button" class="btn btn-danger" ng-click="empty()">清空</button>
      <button type="button" class="btn btn-success" ng-click="search()">搜索</button>
    </form>
  </div>
  <!-- 表格主体内容 -->
  <div class="artic">
    <div class="ttop">
      <span>Article列表</span>
      <button type="button" class="btn btn-success btn-xs" ng-click="add()">+新增</button>
    </div>
    <table class="table table-bordered table-striped">
      <tr class="thead">
        <th>序号</th>
        <th>图片</th>
        <th>标题</th>
        <th>类型</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>状态</th>
        <th style="width: 150px;">操作</th>
      </tr>
      <tr ng-repeat="list in lists">
        <th ng-bind="$index+1">                                                   </th>
        <th ng-model="img"><img src="{{list.img}}" alt="图片未上传" width="80px">  </th>
        <th ng-model="title">     {{list.title}}                                  </th>
        <th ng-model="type">      {{list.type | typeChange}}                      </th>
        <th ng-model="author">    {{list.author}}                                 </th>
        <th ng-model="createAt">  {{list.createAt | date:'yyyy-MM-dd HH:mm:ss'}}  </th>
        <th ng-model="updateAt">  {{list.updateAt | date:'yyyy-MM-dd HH:mm:ss'}}  </th>
        <th ng-model="status">    {{list.status | statuChange}}                   </th>
        <th style="width: 150px;">
          <button type="button" class="btn btn-default btn-success btn-xs" ng-click="goline()">{{online()}}</button> 
          <button type="button" class="btn btn-default btn-primary btn-xs" ng-click="goedit()">编辑</button>        
          <button type="button" class="btn btn-default btn-danger btn-xs" ng-click="delete('sm')">删除</button>        
        </th>
      </tr>    
    </table>
  </div>
  <h3 id="backResult"></h3>
  <!-- 分页 -->
  <div class="pages">
    <div>
      <span>每页显示</span> 
      <input type="text" class="form-control input-sm" ng-model="size"> 
      <span>页</span>
    </div>
    <uib-pagination 
      ng-change             = "pagechange()"
      ng-model              = "currentPage"
      num-pages             = "numPages"
      total-items           = "total"
      max-size              = "maxSize" 
      first-text            = "第一页" 
      previous-text         = "上一页" 
      next-text             = "下一页" 
      last-text             = "最后页" 
      boundary-links        = "true"
      items-per-page        = "size"
      rotate                = "false"
      boundary-link-numbers = "false">
    </uib-pagination>
    <div>
      <p style="text-align: center" class="sadd">去第</p> 
      <input type="text" class="form-control input-sm" ng-model="page">
      <p>页</p> 
    </div>
    <button ng-click="sizego()" class="btn btn-default ">确认</button>
  </div>
  <!-- 模态框 -->

  <div ui-view=""></div>
</div>




