<div class="list" ng-controller="listctrl">
  <!-- 表头 -->
  <div class="title">
    <form class="form-inline">
      <div class="form-group lain">
        <label for="exampleInputName2">标题</label>
        <input type="text" class="form-control" id="exampleInputName2">
      </div>
      <div class="form-group lain">
        <label for="exampleInputEmail2">创建者</label>
        <input type="text" class="form-control" id="exampleInputName2">
      </div>
      <div class="form-group lain">
        <label for="exampleInputEmail2">创建时间</label>
        <input type="text" class="form-control" id="exampleInputName2">
        -
        <input type="text" class="form-control" id="exampleInputName2">
      </div>
      <div class="form-group lain">
        <label for="exampleInputEmail2">状态</label>
        <select class="form-control">
          <option>全部</option>
          <option>草稿</option>
          <option>上线</option>
        </select>
      </div>
      <div class="form-group lain">
        <label for="exampleInputEmail2">类型</label>
        <select class="form-control">
          <option>首页</option>
          <option>找职位</option>
          <option>找精英</option>
          <option>行业大图</option>
        </select>
      </div>
      <button type="button" class="btn btn-danger">清空</button>
      <button type="button" class="btn btn-success">搜索</button>
    </form>
  </div>
  <!-- 表格主体内容 -->
  <div class="artic">
    <div class="ttop">
      <span>Article列表</span>
      <button type="button" class="btn btn-success btn-xs">+新增</button>
    </div>
    <table class="table table-bordered table-striped">
      <tr class="thead">
        <th>序号</th>
        <th>图片</th>
        <th>标题</th>
        <th>类型</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      <tr ng-repeat="x in records">
        <th ng-model="id">        {{x.id}}                                     </th>
        <th ng-model="img"> <img src="{{x.img}}" alt="图片未上传" width="80px">         </th>
        <th ng-model="title">     {{x.title}}                                  </th>
        <th ng-model="type">      {{x.type | Changetype}}                      </th>
        <th ng-model="author">    {{x.author}}                                 </th>
        <th ng-model="createAt">  {{x.createAt | date:'yyyy-MM-dd HH:mm:ss'}}  </th>
        <th ng-model="updateAt">  {{x.updateAt | date:'yyyy-MM-dd HH:mm:ss'}}  </th>
        <th ng-model="status">    {{x.status | statu}}                         </th>
        <th>操作</th>
      </tr>    
    </table>
  </div>
  <!-- 分页 -->
  <div class="pages">
    <span>
      <span>每页显示</span> 
      <input type="text" class="form-control" ng-model="size" value="{{size}}"> 
      <span>页</span>
    </span>
    <uib-pagination 
      ng-change             = "pagesclick()"
      ng-model              = "currentPage"
      num-pages             = "numPages"
      total-items           = "total"
      max-size              = "maxSize" 
      first-text            = "第一页" 
      previous-text         = "上一页" 
      next-text             = "下一页" 
      last-text             = "最后页" 
      boundary-links        = "true"
      items-per-page        = "size"
      rotate                = "false"
      boundary-link-numbers = "false">
    </uib-pagination>
    <pre>页面: {{currentPage}} / {{numPages}}</pre>
    <span>
      <span>去第</span>
      <input type="text" class="form-control" size="5">
      <span>页</span>
    </span>
  </div>
</div>

