<div class="login" ng-controller="loginctrl">
  <form name="loginForm">
    <p class="houtai">后台登录</p> <br>
    <!-- 用户名图标 -->
    <span class="glyphicon glyphicon-user name" aria-hidden="true"></span>
    <!-- 用户名输入框 -->
    <input type="text" ng-model="name" class="form-control" placeholder="请输入用户名" 
    required name="uname" ng-maxlength="16" ng-minlength="4" ng-pattern="/^\w/" size="30"><br>
    <!-- 密码图标 -->
    <span class="glyphicon glyphicon-lock word" aria-hidden="true"></span>
    <!-- 密码输入框 -->
    <input type="password" ng-model="pass" class="form-control" placeholder="请输入密码" required name="upass" ng-maxlength="18" ng-minlength="6">
    <!-- 错误信息提示框 -->
    <div class="error " ng-messages="loginForm.uname.$error" id="pro">
      <div ng-message="required">用户名不能为空</div>
      <div ng-message="minlength">用户名长度至少为4</div>
      <div ng-message="maxlength">用户名长度不能超过16</div>
      <div ng-message="pattern">用户名不符合要求</div>
      <div ng-model="info" >{{info}}</div>
    </div>
    <!-- 登录按钮 -->
    <button type="submit" ng-click="subclick()">登录</button>
  </form>
</div>

